/* Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,600;1,9..40,200;1,9..40,400;1,9..40,600&display=swap');

/* Visually Hidden */
.visually-hidden {
position: absolute;
position: absolute !important;
width: 1px !important;
height: 1px !important;
padding: 0 !important;
margin: -1px !important;
overflow: hidden !important;
clip: rect(0,0,0,0) !important;
white-space: nowrap !important;
border: 0 !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Avoids issues with core body defaults */
html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

/* General Styles */
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: black;
    /* background-color: #f59994;
    background-image: linear-gradient(to right, #f59994 65%, #abf5ed); */
} 

i {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
  color: rgb(31, 31, 165);
}

.active {
  color: rgb(31, 31, 165);
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 5rem;
}

h2 {
 font-size: 2rem;
 font-weight: 600;
}

hr {
  border-top: 1px solid black;
}

/* Navigation */
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;
  padding-top: .5em;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  
  min-height: 2em;
}

.rtb-logo {
  font-size: 2rem;
  font-weight: 600;
}

.nav-list {
  display: flex;

  justify-content: space-between;
  gap: 2em;

  font-weight: 600;
  text-align: center;
}

.nav-cta-button {
  color: white;
  background-color: black;
  text-align: center;
  border: none;
  border-radius: 1em;
  width: 6em;
  height: 2em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: scale 0.2 ease-out;
}

.nav-cta-button:hover {
  background-color: rgb(31, 31, 165);
  scale: 1.05;
}

.header-container .toggle-button {
  font-size: 1.9em;
  cursor: pointer;
  display: none;
  order: 3;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  order: 2;
  position: absolute;
  top: 3.75em;
  right: 0;
  left: 0;

  text-align: center; 

  width: 100%;
  height: 0;
  background-color: rgba(31, 31, 165, .2);
  backdrop-filter: blur(7px);
  filter: drop-shadow(0 .5em 3px rgba(9, 9, 48, 0.1));
  overflow: hidden;
  transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown-menu.open {
  min-height: 12em;
}

.dropdown-menu-list {
  list-style-type: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.dropdown-cta-button {
  color: white;
  background-color: black;
  text-align: center;
  border: none;
  border-radius: 1em;
  width: 6em;
  height: 2em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: scale .3s ease-out;
}

.dropdown-cta-button:hover {
  background-color: rgb(31, 31, 165);
  scale: 1.05;
}




/* Heading and button */
.heading-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5em;
  min-height: 70vh;
  min-width: 70vw;
}

.heading-and-button-container h1 {
  margin-bottom: .25em;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-button {
  color: white;
  background-color: black;
  text-align: center;
  border: none;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  font-weight: 800;
  font-size: 3em;
  margin-top: .5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: scale .3s ease-out;
}

.cta-button:hover {
  background-color: rgb(31, 31, 165);
  scale: 1.05;
}

/* Grid */
.grid-container {
  display: grid;
  max-width: 100%;
  /* margin-bottom: 2.5em; */
  margin-top: 2.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3em;
  background-color: black;
  color: white;

  grid-auto-rows: minmax(15em, auto);
  align-items: start;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Footer */
.footer-container {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1rem;
}

.social-media-links {
  list-style-type: none;
  width: 33%;
  text-align: center;
}

.footer-navigation {
  width: 33%;
  padding-left: .5em;
  text-align: end;
}

.vertical-line {
  border-left: 1px solid black;
  height: 112px;
}

/* Responsive Design */
@media (max-width: 810px) {
  .nav-list,
  .nav-cta-button,
  .nav-cta-link {
    display: none;
  }

  .header-container .toggle-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 1rem;
  }

  .column {
    padding-top: 0;
    padding-bottom: 0;
  }

  .end-column {
    margin-bottom: 2rem;
  }
}